
body{
  font-family: "Poppins", Helvetica, sans-serif;
}
h1,h2,h3,h4,h5,h6{
padding:0;
margin:0;
letter-spacing:1px; 
}
a:hover{
text-decoration:none;
}
ul{
padding:0;
margin:0;
list-style:none;
letter-spacing:1px; 
}
li{
  font-size:16px;
  letter-spacing:1px;
  }
p{
padding:0;
margin:0;
font-size:16px;
letter-spacing:1px; 
}
.space_left{
padding-left:0; 
margin-left:0;
} 
.space_right{
padding-right:0;
margin-right:0; 
} 
.space_all{
padding:0; 
margin:0;
} 
.border_none_1{
  border:none!important;
  }
.border_right_1{
  border-right:1px solid #ddd;
  }
/*********************header_top****************/
.header_top_1{
 border-bottom:1px solid #eee; 
 padding-top:10px;
 padding-bottom:10px;
  }
.header_top_1_inner ul li{
  font-size:16px;
  }
.header_top_1_inner ul .tag_1{
  display:inline-block;
  font-size:16px;
  padding-left:10px;
  padding-right:10px;
  border-right:1px solid #eee;
  }
.header_top_1_inner .tag_menu{
  color:#333; 
   }
.header_top_1_inner .tag_menu:hover{
  color:#ff8c04;
   }
.header_top_1_inner .tag_menu:focus{
  color:#ff8c04;
   }
.header_top_1_inner  .drop_1 {
top:30px;  
  }
.header_top_1_inner ul .tag_1 ul li a:hover{
  background:#ff8c04;
  color:#fff;
  }
/*********************header_top_end****************/

/*********************header_middle****************/
#header_middle{
 padding-top:15px;
 padding-bottom:15px;  
   }
.header_middle_1_left h3{
  padding-top:3px;
  }
.header_middle_1_left h3 a{
  color:#000;
  }
.header_middle_1_left h3 span{
  background:#ff8c04;
  border-radius:100%;
  margin-right:5px;
  width:40px;
  height:40px;
  display:inline-block;
  text-align:center;
  line-height:40px;
  font-family: 'Saira Stencil One', cursive;
  color:#fff;
  }
.header_middle_1_middle {
  padding-top:2px;
  }
.header_middle_1_middle .form-control{
  box-shadow:none;
  border-radius:0;
  height:45px;
  border-color:#eee;
  }
.header_middle_1_middle_inner .form-control{
 border-left:none; 
  }
.header_middle_1_middle_inner .btn{
padding:12.7px;
background:#ff8c04;
border:none;
border-radius:0;
  }
.header_middle_1_middle_inner .btn:hover{
background:#000;
  }
  
.header_middle_1_right .tag_menu {
  color:#333;
  background:#eee;
  display:inline-block;
  width:40px;
  height:40px;
  text-align:center;
  line-height:40px;
  border-radius:100%;
  }
.header_middle_1_right .drop_1{
  padding:15px;
  min-width:400px;
  left:auto;
  right:0;
  top:60px;
  }
.header_middle_1_right .drop_1 li{
  font-size:16px;
  }
.header_middle_1_right ul li{
 display:inline-block; 
 padding-left:5px;
 padding-right:5px;
  }
.header_middle_1_right ul .tag_2{
  font-size:16px;
  line-height:1.2em;
  }
.header_middle_1_right ul .tag_2 a{
  font-weight:bold;
  color:#000;
  }
.header_middle_1_right ul .tag_2 a:hover{
  font-weight:bold;
  color:#ff8c04;
  }
.header_middle_1_right ul .tag_2 span{
 font-size:14px;
  }
/*********************header_middle_end****************/

/*********************header_main****************/
#header_main .navbar-default{
 background:#f4f4f4;
 }
.navbar-brand{
  color:#000;
  padding:0;
  font-size:24px;
  padding-top:5px;
  display:none;
  visibility:hidden;
  }
.navbar-brand span{
  background:#ff8c04;
  border-radius:100%;
  margin-right:5px;
  width:40px;
  height:40px;
  display:inline-block;
  text-align:center;
  line-height:40px;
  font-family: 'Saira Stencil One', cursive;
  color:#fff;
  }
  
.navbar-nav>li>.dropdown-menu {
    border-top-left-radius:4px;
    border-top-right-radius:4px;
}

.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu:before {
    content: "";
    border-bottom: 15px solid #fff;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    position: absolute;
    top: -15px;
    left: 285px;
    z-index: 10;
}
.mega-dropdown-menu:after {
    content: "";
    border-bottom: 17px solid #ccc;
    border-right: 19px solid transparent;
    border-left: 19px solid transparent;
    position: absolute;
    top: -17px;
    left: 283px;
    z-index: 8;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 8px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #666;
  white-space: normal;
  font-size:16px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #fff;
  background-color:#ff8c04;
}
.mega-dropdown-menu .dropdown-header {
  color: #ff8c04;
  font-size: 20px;
  font-weight:bold;
}
.mega-dropdown-menu form {
    margin:3px 20px;
}
.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}

.menu_tab{
  font-size:16px;
  color:#333!important;
  }
.menu_tab:hover{
  color:#ff8c04!important;
  }
.active_tag{
  color:#ff8c04!important;
  }
.menu_tab_1{
   color:#000!important; 
   background:#fff;
   font-size:16px;
   font-weight:bold;
	}
.menu_tab_1:hover{
   color:#000!important; 
   background:#fff!important;
	}
.menu_tab_1:focus{
   color:#000!important; 
   background:#fff!important;
	}
.drop_2{
 border-radius:0!important; 
  }
.drop_2 li a{
   border-bottom:1px solid #eee;
   font-size:16px;
   padding-top:7px;
   padding-bottom:7px;
   }
.drop_2 li a:hover{
  background:#ff8c04;
  color:#fff;
  }
#header_main .btn{
 background:#ff8c04;
 border:none;
 margin-top:10px; 
  }
.drop_3{
 margin-top:20px!important;
 width:90%;
 margin-left:20px;
  }
.icon_1{
 margin-top:3px; 
 margin-left:3px; 
  }
.menu_tab_2{
 color:#e93434!important;
 font-weight:bold; 
  }
.navbar{
 margin-bottom:0;
 border:none;
 border-radius:0; 
  }
  
.cd-secondary-nav .is-visible {
  visibility: visible;
  transform: scale(1);
  transition: transform 0.3s, visibility 0s 0s;
}
 .cd-secondary-nav.is-fixed {
    z-index: 9999;
    position: fixed;
    left: auto;
    top: 0; 
	width:100%;
  }	
/*********************header_main_end****************/

/*********************footer****************/
#footer{
  background:#f4f4f4;
  padding-top:30px;
  padding-bottom:30px;
  }
.footer_1_inner h4{
 color:#000;
 font-weight:bold; 
 margin-bottom:5px;
  }
.footer_1_inner ul li{
margin-top:10px;
  }
.footer_1_inner ul li a{
color:#333; 
  }
.footer_1_inner ul li a:hover{
color:#ff8c04;
  }
  
/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	text-align:center;
	width: 40px;
	height: 40px;
	font-size:16px;
}
.social-circle li i {
	margin:0;
	line-height:40px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #000; 
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.social-circle a {
 background-color: #fff;   
}

.footer_dropdown{
  margin-bottom:20px;
  }
.footer_1_inner p{
margin-top:10px;
margin-bottom:20px;
  }
.footer_1_inner .form-control{
height:45px;
border-radius:0;
  }
.footer_1_inner .btn{
padding:12.5px 16px;
background:#ff8c04;
border:none;
border-radius:0;
  }
.footer_1_inner .btn:hover{
background:#000;
  }

.footer_2{
  border:1px solid #ddd;
  margin-top:30px;
  padding-top:30px;
  padding-bottom:30px;
  background:#fff;
  }
.footer_2 ul li{
  display:inline-block;
  border-right:1px solid #ccc;
  padding-left:10px;
  padding-right:10px;
  font-size:14px;
  }
.footer_2 ul li a{
  color:#000;
  }
.footer_2 ul li a:hover{
  color:#ff8c04;
  }
.footer_2 p{
margin-top:20px;
width:80%;
margin-left:auto;
margin-right:auto;
  }
.footer_2 p a{
  color:#ff8c04;
  font-weight:bold;
  }
.footer_2 p a:hover{
  color:#000;
  }
/*********************footer_end****************/



@media screen and (max-width : 767px){
.space_left{
padding-left:15px; 
} 
.space_right{
padding-right:15px; 
} 
.space_all{
padding-left:15px;
padding-right:15px;
} 
.navbar-collapse{
box-shadow:none; 
max-height:none; 
  }
.navbar .navbar-collapse, .navbar-default .navbar-form {
    border:none;
}

.header_middle_1_left h3{
display:none;  
  }
.header_top_1 {
  text-align:center;
  }
.header_top_1_inner {
  text-align:center;
  margin-top:10px;
  }
.header_middle_1_middle .form-control{
border-left:1px solid #eee; 
 }
.header_middle_1_middle_inner{
 margin-top:10px;
 margin-bottom:15px; 
  }
.header_middle_1_right {
text-align:center;  
  }
.header_top_1_inner .drop_1{
left:auto;
right:0;  
  }
.header_top_1_inner ul .tag_1{
border:none; 
 }
.header_middle_1_right .drop_1{
 min-width:250px; 
 left:0;
 right:auto; 
  }
.navbar-brand{
 display:block;
 visibility:visible;
 padding-left:10px;
 font-size:20px; 
  }
.cd-secondary-nav.is-fixed{
  position:static; 
   }
.navbar-nav{
  text-align:center;
  }
.menu_tab {
 font-size:22px;
 border-bottom:1px solid #ccc;
 padding-top:15px!important;
 padding-bottom:15px!important; 
  }
.dropdown-menu {
 background:#fff!important; 
  }
.menu_tab_2 {
 font-size:22px;
 border-bottom:1px solid #ccc;
 padding-top:15px!important;
 padding-bottom:15px!important; 
  }
.drop_3{
margin-left:0; 
  }
  
#footer{
 text-align:center;
 }
.footer_1_inner {
 margin-top:15px; 
  }
.footer_2 ul li{
 border:none;
 padding:5px;
  }
.center_product_main {
padding-top:80px!important;
padding-bottom:80px!important;
}
.center_product_1_left {
  text-align:center;
  }
.center_product_1_right {
  text-align:center;
  margin-top:10px;
 }
.navbar-toggle{
  background:#ff8c04;
  border:none;
  margin-top:9px;
  }
.navbar-default .navbar-toggle .icon-bar{
 background:#fff;
 }
.navbar-toggle:hover{
  background:#ff8c04!important;
  }
.navbar-toggle:focus{
  background:#ff8c04!important;
  }
  
#header_top{
display:none; 
 }
#header_middle{
display:none; 
 }
.footer_1_inner ul li{
 display:inline-block;
 }
}

@media (min-width:768px) and (max-width:991px) {

.container{
  width:100%;
  }
.header_middle_1_left h3{
font-size:16px;  
  }
.header_middle_1_left h3 span{
 width:30px;
 height:30px;
 line-height:30px;
 }
.header_middle_1_right ul .tag_2{
 font-size:11px;
 }
.header_middle_1_right ul .tag_1{
 font-size:11px;
 }
.header_middle_1_right ul li{
  padding-left:0;
  padding-right:0;
  font-size:11px;
  }
.header_middle_1_right .tag_menu{
  width:30px;
  height:30px;
  line-height:30px; 
  }
 .header_middle_1_right ul .tag_2 span{
   font-size:11px;
   }
.header_middle_1_right {
 padding-top:10px; 
  }
.menu_tab{
 font-size:12px;
 padding-left:4px!important;
 padding-right:4px!important;
  }
.menu_tab_2{
 font-size:12px;
 padding-left:4px!important;
 padding-right:4px!important;
  }
.header_middle_1_left h3{
 margin-top:3px; 
  }
.footer_1_inner h4{
line-height:1.4em;  
  }
ul.social-network li{
 display:inline-block;
 margin-bottom:10px; 
  }
ul.social-network li a{
width:30px;
height:30px;
font-size:14px;
  }
ul.social-network li a i{
line-height:30px;
  }
.footer_2 ul li{
padding-left:5px;
padding-right:5px; 
font-size:12px;
 }
.footer_2 {
margin-left:10px;
margin-right:10px; 
 }
}
@media (min-width:992px) and (max-width:1200px) {
.container{
  width:100%;
  }
.header_top_1_inner ul .tag_1{
  padding-left:5px;
  padding-right:5px;
  font-size:13px;
  }
.header_middle_1_right ul li{
 padding-left:0;
 padding-right:0; 
  }
.menu_tab {
padding-left:5px!important;
padding-right:5px!important;  
  }
.footer_1_inner h4{
line-height:1.4em;  
  }
.footer_2 {
margin-left:10px;
margin-right:10px; 
 }
 }
@media (min-width:1201px) and (max-width:1315px) {

 }


